### Build ###
**/target/
**/bin/

### maven ###
**/.mvn/

### Maven ###
target/

### Eclipse ###
**/.classpath
**/.project
**/.settings
**/build/
**/.orig
**/.factorypath
**/.sts4-cache/
**/.springBeans


### Intellij ###
.idea/
*.iml
*.iws

### Logs ###
**/logback-spring.out.xml
**/LOG_PATH_IS_UNDEFINED/

### MacOS ###
**/.DS_Store

### Spring 2 ###
mvnw
mvnw.cmd